esercizi/esercizio5_DTDesterna1.dtd

<!-- DTD -->
<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT testo (#PCDATA|seg)>

<!ATTLIST header
    type CDATA #FIXED "intestazione",
    lang NMTOKEN #IMPLIED>

<!ATTLIST facsimile
    source #REQUIRED,
    ref IDREFS #IMPLIED>

<!ATTLIST testo
    id ID #REQUIRED,
    type CDATA #IMPLIED>

<!--
    studente: Agnese Camici
    matricola: 559788
    corso: codifica di testi 19-20
-->
